* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.input_card {
    width: 90%;
    height: 180px;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #000000;
    margin: 0 auto;
    display: flex;

    &_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0%;
        color: #FFFFFF;
        padding-top: 43px;
        padding-left: 64px;

    }

    &_form {
        display: flex;
        flex-direction: column;
        margin-top: 36px;
        gap: 26px;

        &_input {
            width: 349px;
            height: 48px;
            border-radius: 62px;
            background-color: #FFFFFF;

            &::placeholder {

                padding: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #00000066;


            }


        }

        &_btn {
            width: 349px;
            height: 46px;
            border-radius: 62px;
            background-color: #FFFFFF;
            color: #000000;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;


        }
    }


}