* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}



.main {
  &_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 240, 241, 1);
    padding: 60px 20px;

    &_left {
      max-width: 600px;

      &_title {
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 32px;
      }

      &_note {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 32px;
      }

      &_btn {
        width: 210px;
        height: 52px;
        border-radius: 62px;
        background-color: rgba(0, 0, 0, 1);
        color: white;
        border: none;
        cursor: pointer;
      }
    }

    &_right_img {
      width: 500px;
      height: 500px;
      border-radius: 12px;
    }
  }

  &_all_brand {
 display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  gap: 48px;
  background-color: #000;
  padding: 24px 0;

  &_img{
    max-width: 120px;
  width: 100%;
  height: auto;
  } 
  }

}


@media screen and (max-width: 768px) {

  .main_section {
    flex-direction: column;
    padding: 40px 16px;

    &_left {
      &_title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
      }

      &_note {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 24px;
      }

      &_btn {
        width: 100%;
        max-width: 358px;
        height: 52px;
        margin-bottom: 20px;
      }
    }

    &_right_img {
      width: 100%;
      max-width: 390px;
      height: auto;
      margin-top: 20px;
      border-radius: 12px;
    }
  }

  .main_all_brand {
   justify-content: center;
    gap: 24px;
  }
}
