 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 24px 16px;

     &_title {
         font-weight: 700;
         font-size: 32px;
         color: rgba(0, 0, 0, 1);
     }

     &_navbar_menu {
         display: flex;
         gap: 24px;

         &_item {
             font-size: 16px;

             &_link {
                 color: rgba(0, 0, 0, 1);
             }
         }
     }

     &_input {
         width: 577px;
         height: 48px;
         border-radius: 62px;
         margin: 0 40px;
         padding: 0 16px;
     }

     &_general_picture {
         display: flex;
         gap: 12px;
     }

     &_responsive_img {
         display: none;
     }
 }




 
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;

    &_title {
      font-size: 24px;

    }

    &_navbar_menu_item,
    &_input {
      display: none;
    }

    &_responsive_img {
      display: block;
    }
  }
}