* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.arrivals_section {
    margin-top: 72px;

    &_title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: rgba(0, 0, 0, 1);
        text-align: center;
    }

    &_products {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        gap: 40px;
        align-items: center;
        justify-content: center;




        &_card {





            &_img {
                width: 295px;
                height: 298px;
                border-radius: 20px;
                margin-bottom: 16px;


            }


            &_name {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                margin-bottom: 8px;
                color: rgba(0, 0, 0, 1);

            }


            &_flex {
                display: flex;
                gap: 13px;
                margin-bottom: 8.26px;
            }

            &_price {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: rgba(0, 0, 0, 1);

            }
        }
    }

    &_btn {
        width: 218px;
        height: 52px;
        border-radius: 62px;
        border-width: 1px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        gap: 12px;
          display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px auto 0 auto;

    }

}



@media screen and (max-width: 768px) {
    .arrivals_section {

        &_title {
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: rgba(0, 0, 0, 1);
        }


        &_products_card {
            width: calc(50% - 20px);


            &_img {
                width: 198px;
                height: 200.01356506347656px;
                top: 1217px;
                left: 16px;
                border-radius: 13.42px;

            }

            &_name {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: rgba(0, 0, 0, 1);

            }

            &_price {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: rgba(0, 0, 0, 1);
            }

        }


        &_btn {
            width: 358px;
            height: 46px;
            left: 16px;
            border-radius: 62px;
            border-width: 1px;
            gap: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px auto 0 auto;


        }
    }
}